*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color:cyan
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    background-color: crimson;
}
#box1{
    height: 100px;
    width: 100px;
    background-color: blue;
    position: absolute;
}
#box2{
    height: 100px;
    width: 100px;
    background-color:aqua;
}
#box3{
    height: 100px;
    width: 100px;
    background-color: deepskyblue;
}