*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: dimgray;
}
#box1{
    height: 200px;
    width: 200px;
    background-color: brown;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 10;
}
#box2{
    height: 200px;
    width: 200px;
    background-color:blue;
    position: absolute;
    left: 40%;
    top: 40%;
    z-index: 18;
}
#box3{
    height: 200px;
    width: 200px;
    background-color: deeppink;
    position: absolute;
    left: 50%;
    top: 30%;
    z-index: 19;
}