*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: cadetblue;
}
#parent{
    width: 100%;
    height: 100%;
    background-color:rgba(210, 105, 30, 0.396);
    display: flex;
    padding: 50px;
    gap: 20px;
    flex-wrap: wrap;
}
.child{
    height: 100px;
    width: 100px;
    background-color:darkred;
    border: 2px solid wheat;

}