*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: aliceblue;
}
#box{
    width: 100%;
    height: 100%;
    background-color: darkslategray;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}
#box1{
    height: 100px;
    width: 100px;
    background-color:magenta;
    display: flex;
   
}
#box2{
    height: 100px;
    width: 100px;
    background-color:chartreuse;
    
}
#box3{
    height: 100px;
    width: 100px;
    background-color:coral;
}
#box4{
    height: 100px;
    width: 100px;
    background-color: dodgerblue;
}