*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    background-color:lightpink;
}
#container{
  width: 100%;
  display: flex;
  align-items: center;
}
.a{
  position: absolute;
  border: 3px solid blue;
  top: 0%;
  left: 0%;
}
.a:hover{
  animation: circle 3s linear infinite;
}
@keyframes circle {
  0%   { transform: rotate(0deg) translateX(100px) rotate(0deg); }
  100% { transform: rotate(360deg) translateX(100px) rotate(-360deg); }
}
#img2{
  position: absolute;
  border: 2px solid goldenrod;
  top: 50%;
  left: 50%;
  transform: translate(20%,-50%);
  animation: traingle 3s linear infinite;
}
@keyframes traingle{
  0%   { top: 0; left: 20%; }
  33%  { top: 40%; left: 0; }
  66%  { top: 30%; left: 50%; }
  100% { top: 0; left: 20%; }
}
#img3{
  position: absolute;
  border: 4px solid crimson;
  top:60%;
  left: 80%;
  animation: left 5s linear ease-in;
}
@keyframes left{
  0%   { transform: translateX(0);}
  50% { transform: transleX(200);}
  100% { transform: translateX(0); }
}
#img4{
  position: absolute;
  top: 70%;
  left: 0%;
  animation:bounce 4s linear infinite;
}
@keyframes bounce{
  0%   { transform: translate(0, 0); }
  25%  { transform: translate(50px, 50px); }
  50%  { transform: translate(-50px, 100px); }
  75%  { transform: translate(50px, 150px); }
  100% { transform: translate(0, 0); }
}
